# ===== BOT ASOSIY SOZLAMALARI =====
BOT_TOKEN=8605132017:
BOT_USERNAME=ANZOR_KINO_BOT

# ===== ADMIN SOZLAMALARI =====
# Super adminlar ID lari (vergul bilan ajrating)
SUPER_ADMINS=6944759086

# ===== MAJBURIY OBUNA KANALLARI =====
# Kanal username lari (@ belgisisiz, vergul bilan)
REQUIRED_CHANNELS=anzor_kino
# ===== DATABASE =====
DB_PATH=kino_bot.db

# ===== KONFIGURATSIYA =====
# Bot tili
LANGUAGE=uz
# Sahifadagi kinolar soni
PAGE_SIZE=5
